nav
    ul
        li 
            a(href="/")= 'Accueil'
        li 
            a(href="/skills")= 'Compétences'
        li 
            a(href="/experiences")= 'Exprérences'
        li 
            a(href="#")= 'Projets'
        li 
            a(href="#")= 'Contact' 