doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/css/experiences.css')
        title My Portfolio
    body 
        include ../includes/topbar.pug
        H1(class="titlePage") EXPERIENCES PROFECIONELLES
        .container
            ul(class='cards_container')
                each experience in listeExperiences
                    li(class='card_container_date')
                        .card_container
                            .left_side_carde
                                img(src=`${experience.image}`, alt="")
                                .logo_company
                                    img(src=`${experience.logo_company}`, alt="")
                                .logo_customer
                                    img(src=`${experience.logo_customer}`, alt="")
                            .middle_side_carde
                                .description
                                    h2= experience.title
                                    hr
                                    p= experience.description
                                .logos_skills
                                    each skill in experience.Skills
                                        img(src=`${skill.logo}`, alt="")
                        .right_side_carde
                            p= '12MOIS'


