ul
    each skill in skills
        li
            .skill
                img(src=`${skill.logo}`, alt="")
                p= skill.name
                p= skill.description

if skills_library.length > 0  
    H2 Librairies & framwork
    ul
        each skill_library in skills_library
            if skill_library.Skills_libraries.length > 0
                li
                    .skill
                        img(src=`${skill_library.logo}`, alt="")
                        p= skill_library.name
                        .libraries
                            each librarie in skill_library.Skills_libraries
                                img(src=`${librarie.logo}`, alt="")
                                p= librarie.name
                                p= librarie.description