doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/css/skills.css')
        title My Portfolio
    body 
        include includes/topbar.pug
        H1 COMPETENCES
        .inputSearch
            input(type="text" value="search")
        .content
            ul
                each skill in skills
                    li
                        .skill
                            img(src=`${skill.logo}`, alt="")
                            p= skill.name
                            p= skill.description
                            
            H2 Librairies & framwork
            ul
                each skill_library in skills_library
                    if skill_library.Skills_libraries.length > 0
                        li
                            .skill
                                img(src=`${skill_library.logo}`, alt="")
                                p= skill_library.name
                                .libraries
                                    each librarie in skill_library.Skills_libraries
                                        img(src=`${librarie.logo}`, alt="")
                                        p= librarie.name
                                        p= librarie.description
