doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/css/loader.css')
        link(rel='stylesheet', href='/css/projects.css')
        link(rel='stylesheet', href='/css/footer.css')
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        title My Portfolio
    body 
        include ../includes/loader.pug
        .page
            .nav    
                include ../includes/navigation.pug
            .container
                H1(class="titlePage") PROJETS
                .containerProjects
                    .descriptionPage
                        p= "Développeur web Angular, PHP et Node.js. Jetez un œil à mes derniers projets de développement web."
                    .allSkills
                        each skill in allSkills
                            a(class="skill" href="#" id=`${skill.id}`)
                                img(src=`${skill.logo}`, alt="")
                                p= skill.name
                                .centrer
                    .explainFilter
                        p= "Utilisez les filtres pour lister par compétences et technologies"
                    include projects-liste.pug
            include ../includes/footer.pug

        script(src="/javascript/loader/loader.js")
        script(src="/javascript/navigation/navigation.js")
        script(src="/javascript/projects/skillsFilter.js")


