doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/css/projects.css')
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        title My Portfolio
    body 
        .page
            .nav    
                include ../includes/navigation.pug
            .container
                H1(class="titlePage") PROJETS
                .containerProjects
                    .descriptionPage
                        p= "From Web Components and UI/UX animations to React.JS, Redux, Vue.JS, and Node.JS. Check out my latest web software development portfolio projects."
                    .allSkills
                        each skill in allSkills
                            a(class="skill" href="#" id=`${skill.id}`)
                                img(src=`${skill.logo}`, alt="")
                                p= skill.name
                                .centrer
                    .explainFilter
                        p= "Showing all projects. Use the filter to list them by skill or technology."
                    include projects-liste.pug
        script(src="/javascript/navigation/navigation.js")
        script(src="/javascript/projects/skillsFilter.js")


