div(class="cardsContainer", id="content")
    each project in projects
        .card
            img(src=`${project.image}`, alt="")
            .description
                h2= project.title
                hr
                p= project.description
            .skills
                each skill in project.skills
                    .skill
                        img(src=`${skill.logo}`, alt="")
                        p= skill.name
                        .centrer
